{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="ec-landing-page col-6">
        <img class="ec-img-landing-page" src="{{ asset("build/images/estimmaus.png") }}" alt="estimmaus">
        <button class="ec-button-start">Commencer</button>
    </div>
{% endblock %}
