{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <img src="{{ asset("build/images/estimmaus.png") }}" alt="estimmaus">
    <button class="ec-button-start">Commencer</button>
{% endblock %}
