{% extends 'base.html.twig' %}

{% block title %}New Memory{% endblock %}

{% block body %}
    <h1>Create new Memory</h1>

    {{ include('memory/_form.html.twig') }}

    <a href="{{ path('app_memory_index') }}">back to list</a>
{% endblock %}
