<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page introuvable</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<div class="container d-flex align-items-center es-error-404">
    <div class="row">
        <div class="col-md-12">
            <h1 class="es-error-404-title">Page introuvable</h1>
            <p class="es-error-404-text">La page que vous cherchez n'existe pas.</p>
            <p class="es-error-404-text">Cliquez <a href="/accueil">ici</a> pour revenir à l'accueil.</p>
        </div>
    </div>
</div>

</body>
</html>






