{% extends 'base.html.twig' %}

{% block title %}Préselection{% endblock %}

{% block body %}
<div class="em-form-container">

<h1>Je vérifie les critères</h1>

    {{ include('preselection/_form.html.twig') }}

</div>

{% endblock %}
