{% extends 'base.html.twig' %}

{% block title %}Préselection{% endblock %}

{% block body %}
<div class="em-form-container">

<h1>Je vérifie les critères</h1>

    <div class="em-error-selection">Malheureusement ce téléphone ne répond pas aux critères de sélection pour l'estimation.</div>

    {{ include('preselection/_form.html.twig') }}

</div>

{% endblock %}
