.es-sidebar {
  background-color: #FCD85A;
  width: 20vw;
  height: 100vh;
}

.es-sidebar-logo {
  width: 70%;
  height: auto;
  justify-self: center;
  align-self: center;
}

.es-sidebar-link {
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}

.es-sidebar-contact {
  margin-bottom: 50%;
}
