.ec-radios div:first-of-type {
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;*/
}

.ec-form-title {
  text-align: center;
}

.em-form-container-state {
  width: 30vw;
  height: 100vh;
  padding: 3%;
  padding-top: 5px;
  background-color: blue;
  position: absolute;
  right: 25%;
  /*top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}

input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  /*&:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }*/
}

.ec-label-state {
  height: 100%;
  display: block;
  background: $background;
  border: 2px solid $dark-blue;//hsla(150, 75%, 50%, 1);
  border-radius: 20px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  //margin: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
}

.ec-label-state:hover {
  transform: scale(1.05);
  transition-timing-function: ease-in;
  transition: 0.2s;
}


input[type="radio"]:checked + label {
  background: $light-blue;//hsla(150, 75%, 50%, 1);
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px $light-blue;//hsla(150, 100%, 50%, 0.75);
  &::after {
    color: hsla(215, 5%, 25%, 1);
    font-family: FontAwesome;
    border: 2px solid $light-blue;//hsla(150, 75%, 45%, 1);
    content: "\f00c";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: $background;
    box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
  }
}

.ec-state-description {
  font-size: 14px;
}

.ec-button-state {
  margin-left: 29%;
}