@import "~bootstrap";
@import "_includes/variables.scss";
@import "_includes/button.scss";
@import "_includes/landing-page.scss";
@import "_includes/form.scss";

body {
  font-family: 'fira-sans', sans-serif;
  color:#000000;
  background-color: $background;
  background-image: url("../images/logoC-opacity50.png");
  background-repeat: no-repeat;
  background-position: 90% 0;
  background-size: 50%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}