.shepherd-button {
  width: 140px;
  height: 36px;
  background: $light-blue;
  color: white;
  font-size: 14px;
  border-radius: 38px;
  box-shadow: $box-shadow;
  border: none;
}

.shepherd-button:hover {
  background: $dark-blue;
}

.shepherd-footer {
  display: flex;
  justify-content: space-around;
}

.shepherd-text {
  padding: 2em;
  font-size: 1.2em;
}

.shepherd-header {
  padding: 0 0.5em 0 0;
  background-color: #FCD85A !important;
}

.shepherd-header h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.shepherd-enabled {

}