.form-check-input:checked {
  background-color: #a9cfd1;
  border-color: #a9cfd1;
}

.form-check-input {
  background-color: #df9da2;
  border-color: #df9da2;
}

.em-form-container {
  width: 30vw;
  height: 100vh;
  padding: 3%;
  background-color: white;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.9;
}

.form-check {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.form-check label {
  width: 80%;
  margin-left: 5%;
}

.form-switch {
    padding-left: 0;
    width: 100%;
}

.form-switch .form-check-input {
  margin-left: 0;
  height: 2em;
  width: 4em;
}

.em-btnAccessories, .em-btnNetwork, .em-btnScreen, .em-btnRam, .em-btnStorage, .em-btnSystem, {
  background: #489ED7;
  width: 50%;
  color: white;
  font-size: 14px;
  border-radius: 38px;
  box-shadow: 0px 6.25px 14px #c9cbcf, 0px 0px 2px #c9cbcf;
  border: none;
  padding: 3%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.em-btnAccessories:hover, .em-btnNetwork:hover, .em-btnScreen:hover, .em-btnRam:hover, .em-btnStorage:hover, .em-btnSystem:hover {
  background-color: #344fa9;
}

.em-system, .em-network, .em-screen {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.em-accessories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.em-error-selection {
  position: absolute;
  top: 15%;
  right: -600px;
  width: 100%;
  height: 70vh;
  opacity: 0;
  background-color: #f44336;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.em-save-ram {
  background-color: #9297be;
  border-radius: 30px;
  width: 100%;
  height: 7vh;
}

.em-save-ram:hover {
  background-color: #344fa9;
}

.em-save {
  opacity: 0;
  background-color: #f3e1a1;
  border-radius: 30px;
  width: 100%;
  height: 7vh;
}

.em-save:hover {
  background-color: #f1d970;
}

.em-btn-retour {
  color: whitesmoke;
  font-size: 2rem;
  margin-top: 3%;
}

.em-btn-retour:hover {
  color: rgba(94, 90, 90, 0.56);
}

.bi-exclamation-circle {
  margin-right: 3%;
}

.em-error {
  color: #df9da2;
}

.em-ram {
  height: 20vh;
}