{% extends 'base.html.twig' %}

{% block title %}
	Contactez-Nous!
{% endblock %}

{% block body %}
	<div class="ec-contact-form-container">
		{{ form_start(contactForm) }}
		{{form_widget(contactForm)}}
		<button class="ec-button" type="submit">Envoyer</button>
		{{ form_end(contactForm) }}
	</div>
{% endblock %}
