{% extends 'base.html.twig' %}

{% block title %}
	Contactez-Nous!
{% endblock %}

{% block body %}
	{% for flash in app.flashes %}
		{{flash}}
	{% endfor %}

	<div class="ec-contact-form-container">
		{{ form_start(contactForm) }}
		{{form_widget(contactForm)}}
		<button class="ec-button" type="submit">Submit</button>
		{{ form_end(contactForm) }}
	</div>
{% endblock %}
