{% extends 'base.html.twig' %}

{% block title %}
	Contactez-Nous!
{% endblock %}

{% block body %}
	<div class="ec-contact-form-container d-flex flex-column">
		<h1 class="mb-4">Contactez nous</h1>
		{{ form_start(contactForm) }}
		{{form_widget(contactForm)}}
		<div class="w-100 d-flex justify-content-center">
		<button class="ec-button em-w80" type="submit">Envoyer</button>
		</div>
		{{ form_end(contactForm) }}
	</div>
{% endblock %}
