{% extends 'base.html.twig' %}

{% block title %}New Model{% endblock %}

{% block body %}
    <h1>Create new Model</h1>

    {{ include('model/_form.html.twig') }}

    <a href="{{ path('app_model_index') }}">back to list</a>
{% endblock %}
